<script type="load">
  window.tamaraWidgetConfig = {
    lang: "{{ request.locale.iso_code }}",
    country: "AE",
    publicKey: "c5a5b1cc-16b3-43cf-9b9e-244757007060",
    css : `:host {
      --font-primary: inherit !important;
      --font-secondary: inherit !important;
		}
    .tamara-summary-widget__amount {
      font-weight: 700 !important;
    }
    `,
    style: {
        fontSize: '14px',
        badgeRatio: 1.2,
    }
  }
</script>
<script type="load" d-src="https://cdn.tamara.co/widget-v2/tamara-widget.js"></script>
<div>
  <tamara-widget id="tamara-widget-custom" type="tamara-summary" amount="{{product.price | money_without_currency | remove: ','}}" config='{"badgePosition":"right","showExtraContent":""}' inline-type="2">
  </tamara-widget>
</div>